.calc-form {
    display: flex;
    flex-wrap: wrap;
}

.calc-input-box {
    background-color: #F0F0F0;
    padding: 10px;
    margin: 10px;
    flex: 1 1 calc(50% - 20px);
    box-sizing: border-box;
}

.calc-output-box {
    padding: 10px;
    margin: 10px;
    flex: 1 1 calc(50% - 20px);
    box-sizing: border-box;
}

.calc-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.calc-button-row {
    padding: 3%;
    background-color: teal;
}

.calc-label {
    flex-basis: 30%;
    font-weight: bold;
    margin-right: 10px;
}

.input {
    flex: 1;
    padding: 5px;
    box-sizing: border-box;
    border: none;
    border-radius: 3px;
    font-size: 16px;
}

.calculateButton {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: dodgerblue;
    color: white;
    border: 1px solid black;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}

@media screen and (max-width: 1040px) {
.calc-form {
    flex-direction: column;
}

.calc-input-box, .calc-output-box {
    flex-basis: 100%;
}

.calc-label {
    flex-basis: 100%;
    margin-right: 0;
    margin-bottom: 5px;
}}