
.calculator {
    background-color: white;
    width: 30%;
    border: 1px solid teal;
    margin: auto;
    text-align: left;
}
.outputs {
    background-color: white;
    width: 25%;
    border: 2px solid teal;
    margin: auto;
    text-align: center;
}
.unit {
    margin-left: 5px;
}
.info {
    border: 1px solid teal;
}
td {
    padding: 2%;
    width: 20%;

}
.calculateButton {
    display: block;
    margin: auto;
    border: 1px solid;
    background-color: white;
    color: teal;
    width: 160px;
    height: 35px;
}

@media screen and (max-width: 1800px) {
    .calc-form{}
    .calculator{width: 30%}
    .outputs{width: 30%}
}

@media screen and (max-width: 1525px) {
    .calc-form{}
    .calculator{width:35%}
    .outputs{width: 35%}
}

@media screen and (max-width: 1325px) {
    .calc-form{}
    .calculator{width:40%}
    .outputs{width: 40%}
}

@media screen and (max-width: 1190px) {
    .calc-form{}
    .calculator{width:50%}
    .outputs{width: 50%}
}
@media screen and (max-width: 1000px) {
    .calc-form{}
    .calculator{width:60%}
    .outputs{width: 60%}
}
@media screen and (max-width: 870px) {
    .calc-form{}
    .calculator{width:70%}
    .outputs{width: 70%}
}
@media screen and (max-width: 770px) {
    .calc-form{}
    .calculator{width:80%}
    .outputs{width: 80%}
}
@media screen and (max-width: 700px) {
    .calc-form{}
    .calculator{width:90%}
    .outputs{width: 90%}
}
@media screen and (max-width: 650px) {
    .calc-form{}
    .calculator{width:100%}
    .outputs{width: 100%}
}