.calc-form {
    text-align: center;
}
.calculator {
    background-color: #cccccc;
    width: 25%;
    border: 1px solid black;
    margin: auto;
    text-align: left;
}
.outputs {
    width: 25%;
    margin: auto;
}
.info {
    border: 1px solid black;
}
td {
    padding: 2%;
    width: 170px;
}
.calculateButton {
    border: 1px solid;
}

@media screen and (max-width: 1800px) {
    .calculator{width: 30%}
}

@media screen and (max-width: 1525px) {
    .calculator{width:35%}
}

@media screen and (max-width: 1325px) {
    .calculator{width:42%}
}

@media screen and (max-width: 1150px) {
    .calculator{width:50%}
}