.aside-container {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.aside-box {
  background-color: teal;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 30%;
  height: auto; /* Add this to make the height flexible */
  min-height: 300px;
  display: flex; /* Add this to enable flexbox */
  flex-direction: column; /* Add this to stack the content vertically */
  justify-content: center; /* Add this to center the content vertically */
}

.aside-box h3 {
  margin-bottom: 10px;
  font-weight: bold;
  color: #ffffff; /* Set the text color to white for better readability */
}

/* Additional style for current step text */
.aside-box .current-step {
  font-size: 2em; /* Increase the font size */
  line-height: 1.3; /* Adjust the line height */
  font-weight: bold;
  text-align: center;
  color: white;
}

/* Additional styles for better readability */
.aside-box p {
  color: #ffffff; /* Set the text color to white for better readability */
  font-size: 1.1em; /* Increase the font size */
  line-height: 1.5; /* Increase the line height */
  margin-bottom: 10px; /* Add some margin below the text */
}

/* Style the input fields and buttons for better readability */
.aside-box input[type="text"],
.aside-box input[type="password"],
.aside-box input[type="submit"] {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 10px;
}

.aside-box input[type="text"],
.aside-box input[type="password"] {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  color: #000000;
}

.aside-box input[type="submit"] {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  color: #008080;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.aside-box input[type="submit"]:hover {
  background-color: black;
  color: #ffffff;
}

.welcome-user {
  font-size: 3em;
  text-align: center;
  color: white; /* Add this to set the background color to white */
  padding: 10px; /* Add this to give some space around the text */
  border-radius: 4px; /* Add this to have rounded corners for the white background */
}
