#login {
    width: 40%;
    margin: 0 auto;
    background-color: white; /* light grey by default */
}

#login-form {
    margin: 0 auto;
    width: 90%;
}

#title {
    color: teal;
    /*font-family: 'Ubuntu', sans-serif;*/
    font-size:35px;
    text-align: center;
    margin: auto;
}

h5 a {
    color: lightslategray;

}

.login-field, .submit-field {
    width: 100%;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 10px 20px;
    /*border: none;*/
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.09); /* 0.09 opacity looks better against white background. 0.02 is too light */
    /*margin-bottom: 50px;*/
    /*margin-left: 46px;*/
    text-align: center;
    margin: 0 auto;
    font-family: 'Ubuntu', sans-serif;

}

.pw-container { /* allow the input field for password to start at same place as other inputs */
    display: flex;
    align-items: center;
    position: relative;
}

/* Make the input field width 100% again so everything lines up correctly*/
/*.login-field {*/
/*    width: 100%;*/
/*}*/

/* Allow the eye to fill up the space after the password field and align it with email input */
.eye-icon {
    position: absolute;
    right: 10px;
    cursor: pointer;
}

#eye1 {
    color: teal;
    cursor: pointer;
    top: 28%;
    right: 4%;
}

.submit-field{
    cursor: pointer;
    color: #fff;
    background: linear-gradient(to right, #008081, #34A798);
    /*padding: 10px 40px;*/
    /*font-family: 'Ubuntu', sans-serif;*/
    /*margin: 0 auto;*/
    font-size: 0.8125em;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    width: 25%;
    text-align: center;
}

a {
    text-shadow: 0 0 3px rgba(117, 117, 117, 0.12);
    /*color: #57C3AD;*/
    color: lightslategray;
    text-decoration: none
}

.errors, .error {
    font-size: small;
    color: red;
}

.success {
    font-size: small;
    color: green;
}


