#title {
    color: teal;
    font-family: 'Ubuntu', sans-serif;
    font-size: 23px;
    text-align: center;
    margin: auto;
}

.ef, .sf {
    width: 30%;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 10px 20px;
    /*border: none;*/
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    /*margin-bottom: 50px;*/
    /*margin-left: 46px;*/
    text-align: center;
    margin: 0 auto;
    font-family: 'Ubuntu', sans-serif;

}

.sf{
    cursor: pointer;
    color: #fff;
    background: linear-gradient(to right, #008081, #34A798);
    /*padding: 10px 40px;*/
    /*font-family: 'Ubuntu', sans-serif;*/
    /*margin: 0 auto;*/
    font-size: 0.8125em;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    width: 18%;
}

a {
    text-shadow: 0 0 3px rgba(117, 117, 117, 0.12);
    color: #57C3AD;
    text-decoration: none
}

.errors, .error {
    font-size: small;
    color: red;
}

.success {
    font-size: small;
    color: green;
}




