/*.reset-button {*/
/*    background-color: #007bff;*/
/*    color: white;*/
/*}*/

/*.form-group p {*/
/*    font-size: small;*/
/*}*/

.success {
    background-color: mediumseagreen;
    color: white;
}

.reset-request {
    background-color: #ECF0F1;
    font-family: 'Ubuntu', sans-serif;
}

.main {
    background-color: #FFFFFF;
    width: 400px;
    height: 400px;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.request {
    padding-top: 40px;
    color: #008081;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 23px;
    text-align: center;
}

.email-field {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    /*border: none;*/
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    /*margin-bottom: 50px;*/
    /*margin-left: 46px;*/
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
}

form.reset-password-request {
    padding-top: 40px;
}

/*.pass {*/
/*    width: 76%;*/
/*    color: rgb(38, 50, 56);*/
/*    font-weight: 700;*/
/*    font-size: 14px;*/
/*    letter-spacing: 1px;*/
/*    background: rgba(136, 126, 126, 0.04);*/
/*    padding: 10px 20px;*/
/*    border: none;*/
/*    border-radius: 20px;*/
/*    outline: none;*/
/*    box-sizing: border-box;*/
/*    border: 2px solid rgba(0, 0, 0, 0.02);*/
/*    margin-bottom: 50px;*/
/*    margin-left: 46px;*/
/*    text-align: center;*/
/*    margin-bottom: 27px;*/
/*    font-family: 'Ubuntu', sans-serif;*/
/*}*/


.email-field:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;

}

.reset-submit-button {
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #008081, #34A798);
    border: 0;
    padding: 10px 40px;
    font-family: 'Ubuntu', sans-serif;
    /*margin-left: 35%;*/
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    text-align: center;
}

.return-to-login {
    text-shadow: 0 0 3px rgba(117, 117, 117, 0.12);
    color: #57C3AD;
    padding-top: 15px;
    text-align: center;
}

a {
    text-shadow: 0 0 3px rgba(117, 117, 117, 0.12);
    color: #57C3AD;
    text-decoration: none
}




