form label{
    display: inline-block;
    width: 45%;
    text-align: left;
}

#sign-up-form {
    background-color: gray;
    color: black;
    width: 25%;
    margin: auto;
}

#sign-up-form input {
    margin-bottom: .5em;
}

#tos:link, #tos:visited, #tos:hover, #tos:active {
    text-decoration: none;
    color: blue;
}

@media screen and (max-width: 1724px) {
    #sign-up-form{width: 40%}
}

@media screen and (max-width: 1160px) {
    #sign-up-form{width:62%}
}

