{% include 'header.html' %}
<section>
  <div class="container">
    <h1>Welcome to our Mortgage rate calculator</h1>
    <p>Know what you'll pay today!</p>
  </div>
</section>

<div>
    <form class="calculator1">
        <label for="HomeVal">Home Value:</label>
        <input type="number" id="HomeVal" name="HomeVal" placeholder="100" required><br><br>
        <label for="DownPay">Down Payment:</label>
        <input type="number" id="DownPay" name="DownPay" placeholder="200" required><br><br>
        <label for="LoanAmt">Loan Amount:</label>
        <input type="number" id="LoanAmt" name="LoanAmt" placeholder="300" required><br><br>
        <label for="IntrestRate">Intrest Rate:</label>
        <input type="number" id="IntrestRate" name="IntrestRate" placeholder="400" required><br><br>
        <input type="submit" value="Calculate">
    </form>
</div>

<aside>
  <h1>CALCULATOR PAGE</h1>
</aside>
{% include 'footer.html' %}

<link href="../static/styles/calculator.css" rel="stylesheet">