{% include 'header.html' %}
<section>
  <div class="container">
    <h1>Welcome to our Mortgage rate calculator</h1>
    <p>Know what you'll pay today!</p>
  </div>
</section>

<form>
    <label for="testVal1">Test Val1</label>
    <input type="number" id="testVal1" name="testVal1"><br><br>
    <label for="testVal2">Test Val2</label>
    <input type="number" id="testVal2" name="testVal2"><br><br>
    <label for="testVal3">Test Val3</label>
    <input type="number" id="testVal3" name="testVal3"><br><br>
    <label for="testVal4">Test Val4</label>
    <input type="number" id="testVal4" name="testVal4"><br><br>
    <input type="submit" value="Submit">
</form>

<aside>
  <h1>CALCULATOR PAGE</h1>
</aside>
{% include 'footer.html' %}
