{% include 'header.html' %}
<head>
    <title>Own My Home | Sign Up</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles/sign_up.css') }}"
    />
</head>
<section id="showcase">
  <div class="container">
    <h1>Welcome to our Real Estate Website</h1>
    <p>Find your dream property with us</p>
  </div>
</section>

<aside id="signup">
    <div id="sign-up-form">
        <h1>Sign Up</h1>
        <h5>Create a free account!<br>Already have one? <a href="login.html">Login</a></h5>

        <form name="create-account" method="POST">
            <label for="firstName">First Name</label>
            <input type="text" name="firstName" id="firstName" autofocus required><br>

            <label for="lastName">Last Name</label>
            <input type="text" name="lastName" id="lastName" autofocus required><br>

            <label for="email">Email</label>
            <input type="email" name="email" id="email" autofocus required><br>

            <label for="confirm-email">Confirm Email</label>
            <input type="email" name="confirm-email" id="confirm-email" autofocus required><br>

            <label for="password">Password</label>
            <!-- using pattern keyword is regex for front-end password requirement -->
            <input type="password" name="password" id="password" autofocus required
                   pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number
            and one uppercase and lowercase letter, and at least 8 or more characters"><br>

            <label for="confirm-password">Confirm Password</label>
            <input type="password" name="confirm-password" id="confirm-password" autofocus required><br>

            <button type="submit">Create Account</button>
        </form>

        <p>By clicking the Create Account button, you agree to our <br>
            <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a>
        </p>
    </div>

</aside>
{% include 'footer.html' %}