.calculator1 {
    width: 25%;
    border: 1px solid black;
    margin-left: 25%;
    text-align: left;
}
.info {
}
td {
    padding: 2%;
    width: 170px;
}
fieldset{
    padding: 2%;
}
.calculateButton {
    margin-right: 26%;
}
