.calculator1 {
    background-color: #cccccc;
    width: 25%;
    border: 1px solid black;
    margin: auto;
    text-align: left;
}
.info {
    border: 1px solid black;
}
td {
    padding: 2%;
    width: 170px;
}
.calculateButton {
    border: 1px solid;
}
output{
    border-bottom: 1px solid black
}
