form label{
    display: inline-block;
    width: 45%;
    text-align: left;
}

#sign-up-form {
    background-color: gray;
    color: black;
    width: 25%;
    margin: auto;
}

#sign-up-form input {
    margin-bottom: .5em;
}


