{% include 'header.html' %}
<section>
    <div class="homepage">
        <h1>Welcome To Own My Home</h1>
        <p>Find your dream property with us</p>
    </div>
    <div class="slideshow">
    </div>
</section>
<aside>
    <form id="calc-form">
        <table style="margin: auto; width: 20%">
            <tr>
                <td>Monthly Mortgage Total: $<label id="MortMonTotal">{{ MortTotal }}</label></td>
            </tr>
            <tr>
                <td>Total Mortgage: $<label id="TotalMort">{{ MortTotal }}</label></td>
            </tr>
            <tr>
                <td>Total Interest: $<label id="TotalInterest">{{ MortTotal }}</label></td>
            </tr>
        </table>
        <table class="calculator1">
            <tr class="info">
                <td><label for="HomeVal">Home Value:</label></td>
                <td><input type="number" id="HomeVal" placeholder="500000" value="{{ HomeVal }}" min="0" required oninput="validateInput(this)"><br></td>
            </tr>
            <tr class="info">
                <td><label for="DownPay">Down Payment:</label></td>
                <td><input type="number" id="DownPay" placeholder="80000" value="{{ DownPay }}" min="1" required oninput="validateInput(this)"><br></td>
            </tr>
            <tr class="info">
                <td><label for="LoanAmt">Loan Amount:</label></td>
                <td><input type="number" id="LoanAmt" placeholder="350000" value="{{ LoanAmt }}" min="1" required oninput="validateInput(this)"><br></td>
            </tr>
            <tr class="info">
                <td><label for="InterestRate">Interest Rate:</label></td>
                <td><input type="number" id="InterestRate" step="0.1" placeholder="6.5" value="{{ InterestRate }}" min="0.1" max="50" required oninput="validateInput(this)"><br></td>
            </tr>
            <tr class="info">
                <td><label for="LoanTerm">Loan Term:</label></td>
                <td><input type="number" id="LoanTerm" placeholder="30" value="{{ LoanTerm }}" min="0" max="50" required oninput="validateInput(this)"><br></td>
            </tr>
            <tr class="info">
                <td><label for="StartDate">Start Date:</label></td>
                <td><input type="date" id="StartDate" value="{{ StartDate }}" min="1985-01-01" required oninput="validateInput(this)"><br></td>
            </tr>
            <tr class="info">
                <td><label for="PropTax">Property Tax:</label></td>
                <td><input type="number" id="PropTax" placeholder="2400" value="{{ PropTax }}" min="0" oninput="validateInput(this)"><br></td>
            </tr>
            <tr class="info">
                <td><label for="LoanType">Loan Type:</label></td>
                <td><select id="LoanType">
                    <option value="Conventional">Conventional</option>
                    <option value="loan2">loan2</option>
                    <option value="loan3">loan3</option>
                </select></td>
            </tr>
        </table>
        <table class="calculator1">
            <tr class="info">
                <td>Debt Calculation Inputs:</td>
            </tr>
            <tr class="info">
                <td><label for="Income">Annual Income:</label></td>
                <td><input type="number" id="Income" placeholder="20000" value="{{ Income }}" min="0" oninput="validateInput(this)"><br></td>
            </tr>
            <tr class="info">
                <td><label for="Credit">Monthly Credit Card Payments:</label></td>
                <td><input type="number" id="Credit" placeholder="500" value="{{ Credit }}" min="0" oninput="validateInput(this)"><br></td>
            </tr>
            <tr class="info">
                <td><label for="CarPay">Monthly Car Payment:</label></td>
                <td><input type="number" id="CarPay" placeholder="350" value="{{ CarPay }}" min="0" oninput="validateInput(this)"><br></td>
            </tr>
            <tr class="info">
                <td><label for="StudentPay">Monthly Student Loan:</label></td>
                <td><input type="number" id="StudentPay" placeholder="2500" value="{{ Income }}" min="0" oninput="validateInput(this)"><br></td>
            </tr>
        </table>
        <p>
        <button class="calculateButton" type="submit" onclick="validate(event)" value="Submit">Calculate</button>
        </p>
    </form>
</aside>

{% include 'footer.html' %}

<link href="../static/styles/calculator.css" rel="stylesheet">
<script src="../static/scripts/calculator.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ url_for('static', filename='scripts/homepage.js') }}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const imagePath = "{{ url_for('static', filename='images/') }}";
        initSlideshow(imagePath);
    });
</script>