{% include 'header.html' %}
<section>
    <div class="homepage">
        <h1>Welcome To Own My Home</h1>
        <p>Find your dream property with us</p>
    </div>
    <div class="slideshow">
    </div>
</section>

<form class="calc-form">
    <div class="calc-input-box">
        <div class="calc-row">
            <label for="Income" class="calc-label">Annual Income:</label>
            <input type="number" id="Income" placeholder="60000" value="{{ Income }}" min="1" required
                   oninput="validateInput(this)" onblur="if(!this.value) this.value='0';"> $
        </div>
        <div class="calc-row">
            <label for="HomeVal" class="calc-label">Home Value:</label>
            <input type="number" id="HomeVal" placeholder="500000" value="{{ HomeVal }}" min="0"
                       oninput="validateInput(this)" onblur="if(!this.value) this.value='0';"> $
        </div>
        <div class="calc-row">
            <label for="DownPay" class="calc-label">Down Payment:</label>
            <input type="number" id="DownPay" placeholder="80000" value="{{ DownPay }}" min="0"
                       oninput="validateInput(this)" onblur="if(!this.value) this.value='0';"> $
        </div>
        <div class="calc-row">
            <label for="LoanAmt" class="calc-label">Loan Amount:</label>
            <input type="number" id="LoanAmt" placeholder="350000" value="{{ LoanAmt }}" min="1" readonly> $
        </div>
        <div class="calc-row">
            <label for="InterestRate" class="calc-label">Interest Rate:</label>
            <input type="number" id="InterestRate" step=any placeholder="6.5" value="{{ InterestRate }}"
                       min="0.1" max="50" required oninput="validateInput(this)"
                       onblur="if(!this.value) this.value='0';"> %
        </div>
        <div class="calc-row">
            <label for="LoanTerm" class="calc-label">Loan Term:</label>
            <input type="number" id="LoanTerm" placeholder="30" value="{{ LoanTerm }}" min="1" max="50" required
                       oninput="validateInput(this)" onblur="if(!this.value) this.value='0';"> years
        </div>
        <div class="calc-row">
            <label for="PropTax" class="calc-label">Property Tax:</label>
            <input type="number" id="PropTax" placeholder="2400" value="{{ PropTax }}" min="0"
                       oninput="validateInput(this)" onblur="if(!this.value) this.value='0';"> $/yr
        </div>
        <div class="calc-row">
            <label for="HomeInsurance" class="calc-label">Home Insurance:</label>
            <input type="number" id="HomeInsurance" placeholder="2400" value="{{ HomeInsurance }}" min="0"
                       oninput="validateInput(this)" onblur="if(!this.value) this.value='0';"> $/yr
        </div>
        <div class="calc-row">
            <label for="HOA" class="calc-label">Monthly HOA:</label>
            <input type="number" id="HOA" placeholder="350" value="{{ HOA }}" min="0"
                       oninput="validateInput(this)" onblur="if(!this.value) this.value='0';"> $
        </div>
        <div class="calc-row">
            <label for="PrivateMortInsurance" class="calc-label">PMI:</label>
            <input type="number" id="PrivateMortInsurance" placeholder="0.5" value="{{ PrivateMortInsurance }}"
                       min="0" max="50" step=any oninput="validateInput(this)"
                       onblur="if(!this.value) this.value='0';"> %
        </div>
        <div class="calc-row">
            <label for="Credit" class="calc-label">Monthly Credit Card Payments:</label>
            <input type="number" id="Credit" placeholder="500" value="{{ Credit }}" min="0"
                       oninput="validateInput(this)" onblur="if(!this.value) this.value='0';"> $
        </div>
        <div class="calc-row">
            <label for="CarPay" class="calc-label">Monthly Car Payment:</label>
            <input type="number" id="CarPay" placeholder="350" value="{{ CarPay }}" min="0"
                       oninput="validateInput(this)" onblur="if(!this.value) this.value='0';"> $
        </div>
        <div class="calc-row">
            <label for="StudentPay" class="calc-label">Monthly Student Loan:</label>
            <input type="number" id="StudentPay" placeholder="400" value="{{ StudentPay }}" min="0"
                       oninput="validateInput(this)" onblur="if(!this.value) this.value='0';"> $
        </div>
        <div class="calc-button-row">
            <button class="calculateButton" type="submit"> Calculate </button>
        </div>
    </div>

    <div class="calc-output-box">
        <div class="calc-row">
            <p>Monthly Payments Total: $</p>
            <label id="MonPayTotal"></label>
        </div>
        <div class="calc-row">
            <p>Monthly Mortgage: $</p>
            <label id="MortMonTotal"></label>
        </div>
        <div class="calc-row">
            <p>Down Payment %:</p>
            <label id="DownPayPercent"></label>%
        </div>
        <div class="calc-row">
            <p>Total Mortgage: $</p>
            <label id="TotalMort"></label>
        </div>
        <div class="calc-row">
            <p>Total Interest: $</p>
            <label id="TotalInterest"></label>
        </div>
        <div class="calc-row">
            <p>Debt to Income Ratio: </p>
            <div id="Debt"></div>%
        </div>
        <div class="calc-row">
            <p>Monthly Income after Debt: $</p>
            <label id="DebtBudget"></label>
        </div>
        <div class="calc-row">
            <p>Debt to Income Ratio with Mortgage: </p>
            <label id="DebtMort"></label>%
        </div>
        <div class="calc-row">
            <p>Monthly Income after Debt and Mortgage: $</p>
            <label id="DebtMortBudget"></label>
        </div>
    </div>
</form>

{% include 'footer.html' %}

<link href="../static/styles/calculator.css" rel="stylesheet">
<script src="../static/scripts/calculator.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ url_for('static', filename='scripts/homepage.js') }}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const imagePath = "{{ url_for('static', filename='images/') }}";
        initSlideshow(imagePath);
    });
</script>