{% include 'header.html' %}

<head>
    <title>Own My Home | Password Reset</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles/change_password.css') }}"
    />
</head>

<section>
    <div class="homepage">
        <h1>Welcome To Own My Home</h1>
        <p>Find your dream property with us</p>
    </div>
    <div class="slideshow">
    </div>
</section>


<aside id="reset">
    <div id="password-reset">

        <h1 id="title">{{ title}}</h1>

        <!-- Password reset request email success message using flash messages-->
        {% for category, message in get_flashed_messages(with_categories=true) %}
            <pre class="{{ category }}">{{ message }}</pre>
        {% endfor %}

        {% if form.password_hash.errors %}
            {% for error in form.email.errors %}
                <pre class="error">{{ error }}</pre>
            {% endfor %}

        {% endif %}

        {% if form.confirm_password_hash.errors %}
            {% for error in form.email.errors %}
                <pre class="error">{{ error }}</pre>
            {% endfor %}

        {% endif %}



        <form method="POST">
            {{ form.hidden_tag() }}  <!-- creates CSRF token -->

            <p>
                {{ form.password_hash(class='phf') }} <span id="toggle-password" class="toggle-password">👁</span>
            </p>

            <p>

                {{ form.confirm_password_hash(class='cphf') }} <span id="toggle-confirm-password"
                                                             class="toggle-confirm-password">👁</span>
            </p>

            <p>
                {{ form.submit(class='sf') }}
            </p>

{#            <p class="return-to-login">#}
{#                <a href="{{ url_for('login') }}">Return Home</a>#}
{#            </p>#}

        </form>
    </div>
</aside>

{#<aside id="reset">#}
{#    <div id="password-reset">#}
{##}
{#        <h1>{{ title}}</h1>#}
{##}
{##}
{#        {% for category, message in get_flashed_messages(with_categories=true) %}#}
{#            <p class="{{ category }}">{{ message }}</p>#}
{#        {% endfor %}#}
{##}
{#        <form method="POST">#}
{#            {{ form.hidden_tag() }}  <!-- creates CSRF token -->#}
{##}
{#            <!-- Error message for Password field -->#}
{#            {% if form.password_hash.errors %}#}
{#                <span class="errors" style="background-color: red; color: white;">#}
{#                    {% for error in form.password_hash.errors %}#}
{#                        {{ error }}#}
{#                        <br>#}
{#                    {% endfor %}#}
{#                </span>#}
{#            {% endif %}#}
{##}
{#            <!-- Error message for Confirm Password field -->#}
{#            {% if form.confirm_password_hash.errors %}#}
{#                <span class="errors" style="background-color: red; color: white;">#}
{#                    {% for error in form.confirm_password_hash.errors %}#}
{#                        {{ error }}#}
{#                        <br>#}
{#                    {% endfor %}#}
{#                </span>#}
{#            {% endif %}#}
{##}
{#            <!-- Email already exists in database error using FLASH MESSAGES-->#}
{#            {% for category, message in get_flashed_messages(with_categories=true) %}#}
{#                <p class="{{ category }}" style="background-color: red;#}
{#            color: white">{{ message }}Go to the <a href="{{ url_for('login') }}">login page</a>#}
{#                    or try using a different email address.</p>#}
{#            {% endfor %}#}
{##}
{#            <div class="password-container">#}
{#                {{ form.password_hash.label }} <span id="toggle-password" class="toggle-password">👁</span> <br>#}
{#                {{ form.password_hash() }}#}
{#            </div>#}
{##}
{#            <div class="password-container">#}
{#                {{ form.confirm_password_hash.label }} <span id="toggle-confirm-password"#}
{#                                                             class="toggle-confirm-password">👁</span> <br>#}
{#                {{ form.confirm_password_hash() }}#}
{#            </div>#}
{##}
{#            <p>#}
{#                {{ form.submit }}#}
{#            </p>#}
{##}
{##}
{#        </form>#}
{#    </div>#}
{#</aside>#}
{##}
{#<aside class="change-password">#}
{#    <div class="main">#}
{#        <p class='change'>Password Reset Request</p>#}
{##}
{#        <!-- Password reset request email success message using flash messages-->#}
{#        {% for category, message in get_flashed_messages(with_categories=true) %}#}
{#            <pre class="{{ category }}">{{ message }}</pre>#}
{#        {% endfor %}#}
{##}
{#        <form class="change-password-form">#}
{#            {{ form.hidden_tag() }}  <!-- creates CSRF token -->#}
{##}
{#            {{ form.password_hash(class='password-field') }} <span id="toggle-password" class="toggle-password">👁</span>#}
{##}
{#            <!-- Error message for Password field -->#}
{#            {% if form.password_hash.errors %}#}
{#                <span class="errors" style="background-color: red; color: white;">#}
{#                    {% for error in form.password_hash.errors %}#}
{#                        {{ error }}#}
{#                        <br>#}
{#                    {% endfor %}#}
{#                </span>#}
{#            {% endif %}#}
{##}
{#            {{ form.confirm_password_hash(class='confirm-password-field') }} <span id="toggle-confirm-password"#}
{#                                                             class="toggle-confirm-password">👁</span>#}
{##}
{#            <!-- Error message for Confirm Password field -->#}
{#            {% if form.confirm_password_hash.errors %}#}
{#                <span class="errors" style="background-color: red; color: white;">#}
{#                    {% for error in form.confirm_password_hash.errors %}#}
{#                        {{ error }}#}
{#                        <br>#}
{#                    {% endfor %}#}
{#                </span>#}
{#            {% endif %}#}
{##}
{#            {{ form.submit(class="change-submit-button") }}#}
{##}
{#        </form>#}
{#    </div>#}
{##}
{#</aside>#}


{% include 'footer.html' %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ url_for('static', filename='scripts/homepage.js') }}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const imagePath = "{{ url_for('static', filename='images/') }}";
        initSlideshow(imagePath);

        const passwordFieldId = "{{ form.password_hash.id }}";
        const confirmPasswordFieldId = "{{ form.confirm_password_hash.id }}";
        initTogglePassword(passwordFieldId, confirmPasswordFieldId);
    });
</script>
<script src="{{ url_for('static', filename='scripts/eye.js') }}"></script>