{% include 'header.html' %}

<head>
    <title>Own My Home | Password Reset</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles/change_password.css') }}"
    />

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>

<section>
    <div class="homepage">
        <h1>Welcome To Own My Home</h1>
        <p>Find your dream property with us</p>
    </div>
    <div class="slideshow">
    </div>
</section>


<aside id="reset">
    <div id="password-reset">

        <h1 id="title">{{ title}}</h1>

        <!-- Password reset request email success message using flash messages-->
        {% for category, message in get_flashed_messages(with_categories=true) %}
            <pre class="{{ category }}">{{ message }}</pre>
        {% endfor %}

        {% if form.password_hash.errors %}
            {% for error in form.password_hash.errors %}
                <pre class="error">{{ error }}</pre>
            {% endfor %}

        {% endif %}

        {% if form.confirm_password_hash.errors %}
            {% for error in form.confirm_password_hash.errors %}
                <pre class="error">{{ error }}</pre>
            {% endfor %}

        {% endif %}

        <form method="POST">
            {{ form.hidden_tag() }}  <!-- creates CSRF token -->

{#            <p>#}
{#                {{ form.password_hash(class='phf') }}#}
{#                <i class='fa-solid fa-eye' id='eye1'></i>#}
{#            </p>#}
{##}
{#            <p>#}
{#                {{ form.confirm_password_hash(class='cphf') }}#}
{#                <i class='fa-solid fa-eye' id='eye2'></i>#}
{#            </p>#}

            <p class="pw-container">
                {{ form.password_hash(class='phf', id='pw1') }}
                <i class='fa-solid fa-eye eye-icon' id='eye1'></i>
            </p>

            <p class="pw-container">
                {{ form.confirm_password_hash(class='cphf', id='confirm-password-field') }}
                <i class='fa-solid fa-eye eye-icon' id='eye2'></i>
            </p>

            <p>
                {{ form.submit(class='sf') }}
            </p>

{#            <p class="return-to-login">#}
{#                <a href="{{ url_for('login') }}">Return Home</a>#}
{#            </p>#}

        </form>
    </div>
</aside>

{% include 'footer.html' %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ url_for('static', filename='scripts/homepage.js') }}"></script>

<!-- Javascript for implement show password feature with eye icon on Change Password page -->
<script>
    const passwordInput = document.querySelector(".phf")
    const confirmPasswordInput = document.querySelector(".cphf")
    const eye1 = document.querySelector("#eye1")
    const eye2 = document.querySelector("#eye2")

    eye1.addEventListener("click", function(){
        this.classList.toggle("fa-eye-slash")
        const type1 = passwordInput.getAttribute("type") === "password" ? "text" : "password"
        passwordInput.setAttribute("type", type1)
        })
    eye2.addEventListener("click", function () {
        this.classList.toggle("fa-eye-slash")
        const type2 = confirmPasswordInput.getAttribute("type") === "password" ? "text" : "password"
        confirmPasswordInput.setAttribute("type", type2)
    })

    document.addEventListener("DOMContentLoaded", function () {
        const imagePath = "{{ url_for('static', filename='images/') }}";
        initSlideshow(imagePath);
    });
</script>
