<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Own My Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/normalize.css') }}">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    {% with %}
        {% set token = csrf_token() %}
        <meta name="csrf-token" content="{{ token }}">
    {% endwith %}
</head>
<body>
<header>
    <div class="container">
        <div id="branding">
            <h1>
                <a href="{{ url_for('index') }}">
                    <span class="highlight">OMH</span>
                </a>
            </h1>
        </div>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('properties') }}">Properties</a></li>
                <li><a href="{{ url_for('checklist') }}">Checklist</a></li>
                <li><a href="{{ url_for('calculator') }}">Calculator</a></li>
                <li><a href="{{ url_for('calendar') }}">Calendar</a></li>
                <li><a href="{{ url_for('services') }}">Services</a></li>
                <!-- Modifies navbar is user is logged in -->
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>  <!-- allows the user to logout -->
                {% else %}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>
