<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Own My Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/normalize.css') }}">
  </head>
  <body>
    <header>
      <div class="container">
        <div id="branding">
          <a href="{{ url_for('index') }}">
            <h1><span class="highlight">OMH</span></h1>
          </a>
        </div>
        <nav>
          <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('properties') }}">Properties</a></li>
            <li><a href="{{ url_for('checklist') }}">Checklist</a></li>
            <li><a href="{{ url_for('calculator') }}">Calculator</a></li>
            <li><a href="{{ url_for('calendar') }}">Calendar</a></li>
            <li><a href="{{ url_for('services') }}">Services</a></li>
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('sign_up') }}">Sign Up</a></li>
          </ul>
        </nav>
      </div>
    </header>
