{% include 'header.html' %}
<section>
  <div class="container">
    <h1>Welcome to our Real Estate Website</h1>
    <p>Find your dream property with us</p>
  </div>
</section>

<!-- Displays success message at top of screen if user signs in successfully -->
        {% for category, message in get_flashed_messages(with_categories=true) %}
            <p class="{{ category }}">{{ message }}</p>
        {% endfor %}



<aside>
  <h1>Testing</h1>

  <h3>Update Database</h3>
    <form method="post" action="{{ url_for('update') }}">
        <button type="submit">Update Database</button>
    </form>
</aside>
{% include 'footer.html' %}
