{% include 'header.html' %}

<head>
    <title>Own My Home | Login</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles/login.css') }}"
    />

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>

<section>
    <div class="homepage">
        <h1>Welcome To Own My Home</h1>
        <p>Find your dream property with us</p>
    </div>
    <div class="slideshow">
    </div>
</section>


<aside id="login">
    <div id="login-form">

        <h1 id="title">Login</h1>
        <h5>New user? <a href="{{ url_for('sign_up') }}">Create a free account!</a></h5>

        <!-- Login error message using flash messages-->
        <div id="flash-messages">
            {% for category, message in get_flashed_messages(with_categories=true) %}
                <pre class="{{ category }}">{{ message }}</pre>
            {% endfor %}
        </div>

        <!-- Error message for Email field on Login page -->
        {% if form.email.errors %}
            {% for error in form.email.errors %}
                <pre class="error">{{ error }}</pre>
            {% endfor %}

        {% endif %}

        <!-- Error message for Password field on Login page -->
        {% if form.password_hash.errors %}
            {% for error in form.password_hash.errors %}
                <pre class="error">{{ error }}</pre>
            {% endfor %}

        {% endif %}


        <form method="POST">
            {{ form.hidden_tag() }}  <!-- creates CSRF token -->

            <p>
                {{ form.email(class='login-field email-field') }}
            </p>

            <p class="pw-container">
                {{ form.password_hash(class='login-field password-field', id='pw1') }}
                <i class='fa-solid fa-eye eye-icon' id='eye1'></i>
            </p>

            <p>
                {{ form.remember_me.label(class='remember-me-field') }}
                {{ form.remember_me(class='remember-me-field') }}
            </p>

            <p>
                {{ form.submit(class='submit-field') }}
            </p>

            <p>
                <a href="{{ url_for('reset_password_request') }}" id="forgot-password">Forgot Password?</a>
            </p>

        </form>
    </div>
</aside>

{% include 'footer.html' %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ url_for('static', filename='scripts/homepage.js') }}"></script>

<!-- Javascript for implement show password feature with eye icon on Change Password page -->
<script>
    const passwordInput = document.querySelector("#pw1");

    const eye1 = document.querySelector("#eye1");

    eye1.addEventListener("click", function(){
        this.classList.toggle("fa-eye-slash");
        const type1 = passwordInput.getAttribute("type") === "password" ? "text" : "password";
        passwordInput.setAttribute("type", type1);
        });

    document.addEventListener("DOMContentLoaded", function () {
        const imagePath = "{{ url_for('static', filename='images/') }}";
        initSlideshow(imagePath);
    });

    // removes the flash message after 15 seconds
    setTimeout(function () {
        let flashMessages = document.querySelector("#flash-messages");
        if (flashMessages) {
            flashMessages.remove();
        }

    }, 15000);
</script>
