{% include 'header.html' %}

<head>
    <title>Own My Home | Login</title>
    <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', filename='styles/login.css') }}"
    />
</head>

<section>
    <div class="homepage">
        <h1>Welcome To Own My Home</h1>
        <p>Find your dream property with us</p>
    </div>
    <div class="slideshow">
    </div>
</section>

{#<!-- Displays success message at top of screen if user sign up information is valid -->#}
{#{% for category, message in get_flashed_messages(with_categories=true) %}#}
{#    <p class="{{ category }}" style="background-color: #4CAF50; font-weight: bold;#}
{#color: white">{{ message }}</p>#}
{#{% endfor %}#}


<aside id="login">
    <div id="login-form">
        <h1>Login</h1>
        <h5>New user? <a href="{{ url_for('sign_up') }}">Create a free account!</a></h5>

        <!-- Displays success message at top of screen if user sign up information is valid -->
        {% for category, message in get_flashed_messages(with_categories=true) %}
            <p class="{{ category }}">{{ message }}</p>
        {% endfor %}

        <!-- Error message for Confirm Email field -->
        {% if form.email.errors %}
            <span class="errors" style="background-color: red; color: white">
                {% for error in form.email.errors %}
                    {{ error }}
                {% endfor %}
            </span>
        {% endif %}


        <form method="POST">
            {{ form.hidden_tag() }}  <!-- creates CSRF token -->
            <div class="email-container">
                {{ form.email.label }} <br>
                {{ form.email() }}
            </div>
            <div class="password-container">
                {{ form.password_hash.label }} <span id="toggle-password" class="toggle-password">👁</span> <br>
                {{ form.password_hash() }}
            </div>
            <p>
                {{ form.remember_me.label }} <br>
                {{ form.remember_me() }}
            </p>
            <p>
                {{ form.submit }}
                <a href="{{ url_for('reset_password_request') }}" id="forgot-password">Forgot Password?</a>
            </p>
        </form>
    </div>
</aside>

{% include 'footer.html' %}
<script src="{{ url_for('static', filename='scripts/eye.js') }}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ url_for('static', filename='scripts/homepage.js') }}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const imagePath = "{{ url_for('static', filename='images/') }}";
        initSlideshow(imagePath);

        const passwordFieldId = "{{ form.password_hash.id }}";
        initTogglePassword(passwordFieldId);
    });
</script>
