{% include 'header.html' %}

<head>
    <title>Own My Home | Login</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles/login.css') }}"
    />
</head>

<section>
  <div class="container">
    <h1>Welcome to our Real Estate Website</h1>
    <p>Find your dream property with us</p>
  </div>
</section>

{#<!-- Displays success message at top of screen if user sign up information is valid -->#}
{#{% for category, message in get_flashed_messages(with_categories=true) %}#}
{#    <p class="{{ category }}" style="background-color: #4CAF50; font-weight: bold;#}
{#color: white">{{ message }}</p>#}
{#{% endfor %}#}


<aside id="login">
    <div id="login-form">
        <h1>Login</h1>
        <h5>New user? <a href="{{ url_for('sign_up') }}">Create a free account!</a></h5>

        <!-- Displays success message at top of screen if user sign up information is valid -->
        {% for category, message in get_flashed_messages(with_categories=true) %}
            <p class="{{ category }}">{{ message }}</p>
        {% endfor %}

        <!-- Error message for Confirm Email field -->
        {% if form.email.errors %}
            <span class="errors" style="background-color: red; color: white" >
                {% for error in form.email.errors %}
                    {{ error }}
                {% endfor %}
            </span>
        {% endif %}


        <form method="POST">
            {{ form.hidden_tag() }}  <!-- creates CSRF token -->

            <p>
                {{ form.email.label }}
                {{ form.email() }}
            </p>


            <p>
                {{ form.password_hash.label }}
                {{ form.password_hash() }}
            </p>

            <p>
                {{ form.remember_me.label }}
                {{ form.remember_me() }}
            </p>

            <p>
                {{ form.submit }}
            </p>

        </form>
    </div>
</aside>
{% include 'footer.html' %}
