<table>
  <tr>
    <th>Id</th>
    <th>Picture</th>
    <th>Street</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
    <th>County</th>
    <th>Price</th>
    <th>Year Built</th>
    <th>Beds</th>
    <th>Baths</th>
    <th>Add To Favorites</th>
  </tr>

  {% for p in props %}
    <tr>
      <td>{{p.propId}}</td>
      <td><img class="property-thumbnail" src="{{ url_for('static', filename='/images/property_images/' + (p.image_filename if p.image_filename else 'default.jpg')) }}" alt="Property image"></td>
      <td>{{p.street}}</td>
      <td>{{p.city}}</td>
      <td>{{p.state}}</td>
      <td>{{p.zcode}}</td>
      <td>{{p.county}}</td>
      <td>${{p.price}}</td>
      <td>{{p.yearBuilt}}</td>
      <td>{{p.numBeds}}</td>
      <td>{{p.numBaths }}</td>
      <td><label for="{{p.propId}}"></label><input type="checkbox" id="{{p.propId}}" name="favorite" value="1" {% if p.favorite %}checked{% endif %}></td>
    </tr>
  {% endfor %}
</table>

<script>
$(document).ready(function() {
  $('input[name="favorite"]').change(function() {
      const propId = $(this).attr('id');
      const checked = $(this).is(':checked');
      $.ajax({
      url: "{{ url_for('update_favorites') }}",
      type: "POST",
      data: {propId: propId, checked: checked.toString(), csrf_token: $('meta[name="csrf-token"]').attr('content')},
      success: function(response) {
        $('#props-table').html(response.props);
        $('#favorites').html(response.favorites);
      }
    });
  });
});
</script>