{% include 'header.html' %}
<style>
    th, td {
        padding: 20px;
        color: black;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th {
        background-color: teal;
    }

    tr:nth-child(even) {
        background-color: gray;
    }
    .property-thumbnail {
        width: 100px;
        height: auto;
        object-fit: cover;
    }
    /* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

#map {
     height: 400px;
     width: 100%;

}

</style>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBlz0-Xrd-UmDgkjHXFmVv_NAFBqTh11YU&callback=initMap" async defer></script>


<script>


    function geocodeAddress(geocoder, resultsMap, address) {
        geocoder.geocode({ 'address': address }, function (results, status) {
            if (status === 'OK') {
                const marker = new google.maps.Marker({
                    map: resultsMap,
                    position: results[0].geometry.location
                });
            } else {
                console.log('Geocode was not successful for the following reason: ' + status);
            }
        });
    }

    $(document).ready(function () {
        $('input[name="favorite"]').change(function () {
            const propId = $(this).attr('id');
            const checked = $(this).is(':checked');
            const csrf_token = $('meta[name="csrf-token"]').attr('content'); // get the CSRF token from the meta tag
            $.ajax({
                url: "{{ url_for('update_favorites') }}",
                type: "POST",
                data: {propId: propId, checked: checked.toString(), csrf_token: csrf_token}, // include the CSRF token in the data
                success: function (response) {
                    $('#props-table').html(response.props);
                    $('#favorites').html(response.favorites);
                }
            });
        });

        // Load the favorites table when the page is first loaded
        $.ajax({
            url: "{{ url_for('favorites_table') }}",
            success: function(response) {
               $('#favorites').html(response);
            }
        });

        function filterProperties() {
            const priceFilter = $('#price-filter').val();
            const bedroomsFilter = $('#bedrooms-filter').val();
            const bathroomsFilter = $('#bathrooms-filter').val();

            let visiblePropertyCount = 0;

            $('#props table tr').not(':first').each(function () {

                const price = parseInt($(this).find('td:eq(7)').text().replace(/[$,]/g, ''));
                const bedrooms = parseInt($(this).find('td:eq(9)').text());
                const bathrooms = parseInt($(this).find('td:eq(10)').text());
                let show = true;

                if (priceFilter !== 'all') {
                    const range = priceFilter.split('-');
                    if (range[1] === '+') {
                        show = show && price >= parseInt(range[0]);
                    } else {
                        show = show && price >= parseInt(range[0]) && price <= parseInt(range[1]);
                    }
                }

                if (bedroomsFilter !== 'all') {
                    if (bedroomsFilter === '5+') {
                        show = show && bedrooms >= 5;
                    } else {
                        show = show && bedrooms === parseInt(bedroomsFilter);
                    }
                }

                if (bathroomsFilter !== 'all') {
                    if (bathroomsFilter === '5+') {
                        show = show && bathrooms >= 5;
                    } else {
                        show = show && bathrooms === parseInt(bathroomsFilter);
                    }
                }

                if (show) {
                    $(this).show();
                    visiblePropertyCount++;
                } else {
                    $(this).hide();
                }
            });

            if (visiblePropertyCount > 0) {
                $('#no-properties-message').hide();
            } else {
                $('#no-properties-message').show();
            }
        }




        function resetFilters() {
            $('#price-filter').val('all');
            $('#bedrooms-filter').val('all');
            $('#bathrooms-filter').val('all');
            $('#props table tr').not(':first').show();
        }


        // Add event listeners for filtering
       $('#apply-filters').on('click', filterProperties);
       $('#reset-filters').on('click', resetFilters);


        // Initial filter to ensure properties are filtered when the page loads
        filterProperties();

        // Get the modal
        const modal = document.getElementById("myModal");

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        const img = document.getElementsByClassName("property-thumbnail");
        const modalImg = document.getElementById("img01");
        const captionText = document.getElementById("caption");
        for (let i = 0; i < img.length; i++) {
          img[i].onclick = function () {
            modal.style.display = "block";
            modalImg.src = this.src;
            captionText.innerHTML = this.alt;
          }
        }

        // Get the <span> element that closes the modal
        const span = document.getElementsByClassName("close")[0];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
          modal.style.display = "none";
        }

    });

</script>

<section>
    <div class="homepage">
        <h1>Welcome To Own My Home</h1>
        <p>Find your dream property with us</p>
    </div>
    <div class="slideshow">
    </div>
</section>

<aside>
    <div id="myModal" class="modal">
      <span class="close">&times;</span>
      <img class="modal-content" id="img01" alt="Image not available" src="">
    </div>

    <h1>WILMINGTON NC</h1>
    <div id="map"></div>
    <script>
      function initMap() {
          const map = new google.maps.Map(document.getElementById('map'), {
              zoom: 10,
              center: {lat: 34.2257, lng: -77.9447} // Set the center of the map to Wilmington, NC
          });

          const geocoder = new google.maps.Geocoder();

          // Function to geocode addresses and place markers
        function geocodeAddress(address, propUrl) {
            geocoder.geocode({'address': address}, function(results, status) {
                if (status === 'OK') {
                    const marker = new google.maps.Marker({
                        map: map,
                        position: results[0].geometry.location,
                        title: address
                    });
                    // Add click event listener for the marker
                    marker.addListener('click', function () {
                         window.open(propUrl, '_blank');
                    });
                } else {
                    console.log('Geocode was not successful for the following reason: ' + status);
                }
            });
        }

        {% for p in props %}
            geocodeAddress("{{ p.street }}, {{ p.city }}, {{ p.state }}, {{ p.zcode }}", "{{ p.propUrl }}");
        {% endfor %}
    }
    </script>

    <h1>PROPERTIES AVAILABLE IN WILMINGTON</h1>
    <form method="POST" action="{{ url_for('update_favorites') }}">
    <div>
        <label for="price-filter">Price:</label>
        <select id="price-filter">
            <option value="all">All</option>
            <option value="0-250000">0 - $250,000</option>
            <option value="250001-500000">$250,001 - $500,000</option>
            <option value="500001-750000">$500,001 - $750,000</option>
            <option value="750001-1000000">$750,001 - $1,000,000</option>
            <option value="1000001+">$1,000,001+</option>
        </select>

        <label for="bedrooms-filter">Bedrooms:</label>
        <select id="bedrooms-filter">
            <option value="all">All</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5+">5+</option>
        </select>

        <label for="bathrooms-filter">Bathrooms:</label>
        <select id="bathrooms-filter">
            <option value="all">All</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5+">5+</option>
        </select>
        <button type="button" id="apply-filters">Apply Filters</button>
        <button type="button" id="reset-filters">Reset Filters</button>

    </div><br><br>

        <div id="props">
            <table>
                <tr>
                    <th>Id</th>
                    <th>Picture</th>
                    <th>Street</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Zip</th>
                    <th>County</th>
                    <th>Price</th>
                    <th>Year Built</th>
                    <th>Beds</th>
                    <th>Baths</th>
                    <th>Add To Favorites</th>
                </tr>

                {% for p in props %}
                    <tr>
                        <td>{{ p.propId }}</td>
                        <td><img class="property-thumbnail" src="{{ url_for('static', filename='/images/property_images/' + p.image_filename) }}" alt="Property image"></td>
                        <td><a href="{{ p.propUrl }}" target="_blank" class="street-link">{{ p.street }}</a></td>
                        <td>{{ p.city }}</td>
                        <td>{{ p.state }}</td>
                        <td>{{ p.zcode }}</td>
                        <td>{{ p.county }}</td>
                        <td>${{ p.price }}</td>
                        <td>{{ p.yearBuilt }}</td>
                        <td>{{ p.numBeds }}</td>
                        <td>{{ p.numBaths }}</td>
                        <td><label for="{{ p.propId }}"></label><input type="checkbox" id="{{ p.propId }}" name="favorite" value="1"
                                                                       {% if p.favorite %}checked{% endif %}></td>
                    </tr>
                {% endfor %}
            </table>
            <div id="no-properties-message" style="display: none;">Sorry, no properties meet your choices.</div>
        </div>
    </form>
</aside>

<section>
    <div class="container">
        <h1>MY FAVORITE PROPERTIES</h1>
        <div id="favorites">
            <table>
                <tr>
                    <th>Id</th>
                    <th>Picture</th>
                    <th>Street</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Zip</th>
                    <th>County</th>
                    <th>Price</th>
                    <th>Year Built</th>
                    <th>Beds</th>
                    <th>Baths</th>
                </tr>

                {% for p in favorite_props %}
                    <tr>
                        <td>{{ p.propId }}</td>
                        <td><img class="favorite-thumbnail" src="{{ url_for('static', filename='/images/property_images/' + p.image_filename) }}" alt="Property image"></td>
                        <td><a href="{{ p.propUrl }}" target="_blank" class="street-link">{{ p.street }}</a></td>
                        <td>{{ p.city }}</td>
                        <td>{{ p.state }}</td>
                        <td>{{ p.zcode }}</td>
                        <td>{{ p.county }}</td>
                        <td>${{ p.price }}</td>
                        <td>{{ p.yearBuilt }}</td>
                        <td>{{ p.numBeds }}</td>
                        <td>{{ p.numBaths }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</section>

{% include 'footer.html' %}

<script src="{{ url_for('static', filename='scripts/homepage.js') }}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const imagePath = "{{ url_for('static', filename='images/') }}";
        initSlideshow(imagePath);

    });


</script>



