{% include 'header.html' %}

<head>
    <title>Own My Home | Password Reset Request</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles/reset_password_request.css') }}"
    />

    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">

</head>

<section>
    <div class="homepage">
        <h1>Welcome To Own My Home</h1>
        <p>Find your dream property with us</p>
    </div>
    <div class="slideshow">
    </div>
</section>

<aside id="reset">
    <div id="password-reset">

        <h1 id="title">{{ title}}</h1>

        <!-- Password reset request email success message using flash messages-->
        {% for category, message in get_flashed_messages(with_categories=true) %}
            <pre class="{{ category }}">{{ message }}</pre>
        {% endfor %}

        {% if form.email.errors %}
            {% for error in form.email.errors %}
                <pre class="error">{{ error }}</pre>
            {% endfor %}

        {% endif %}


        <form method="POST">
            {{ form.hidden_tag() }}  <!-- creates CSRF token -->

            <p>
{#                {{ form.email.label }}#}
                {{ form.email(class='ef') }}
            </p>

            <p>
                {{ form.submit(class='sf') }}
            </p>

            <p class="return-to-login">
                <a href="{{ url_for('login') }}">Return to Login</a>
            </p>


        </form>
    </div>
</aside>

{#<aside class="reset-request">#}
{#    <div class="main">#}
{#        <h1 class='request'>Password Reset Request</h1>#}
{##}
{#        <!-- Password reset request email success message using flash messages-->#}
{#        {% for category, message in get_flashed_messages(with_categories=true) %}#}
{#            <pre class="{{ category }}">{{ message }}</pre>#}
{#        {% endfor %}#}
{##}
{#        <form class="reset-password-request">#}
{##}
{#            {{ form.hidden_tag() }}  <!-- creates CSRF token -->#}
{##}
{#            {{ form.email(class='email-field') }}#}
{##}
{#            {{ form.submit(class="reset-submit-button") }}#}
{##}
{#            <p class="return-to-login"><a href="{{ url_for('login') }}"> Return to Login</a></p>#}
{#        </form>#}
{#    </div>#}
{##}
{#</aside>#}


{% include 'footer.html' %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ url_for('static', filename='scripts/homepage.js') }}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const imagePath = "{{ url_for('static', filename='images/') }}";
        initSlideshow(imagePath);
    });
</script>