{% include 'header.html' %}

<head>
    <title>Own My Home | Password Reset</title>
{#    <link#}
{#      rel="stylesheet"#}
{#      type="text/css"#}
{#      href="{{ url_for('static', filename='styles/login.css') }}"#}
{#    />#}
</head>

<section>
    <div class="homepage">
        <h1>Welcome To Own My Home</h1>
        <p>Find your dream property with us</p>
    </div>
    <div class="slideshow">
    </div>
</section>

<aside id="reset">
    <div id="password-reset">

        <!-- Error message for Confirm Email field -->
        {% if form.email.errors %}
            <span class="errors" style="background-color: red; color: white">
                {% for error in form.email.errors %}
                    {{ error }}
                {% endfor %}
            </span>
        {% endif %}
        <form method="POST">
            {{ form.hidden_tag() }}  <!-- creates CSRF token -->
            <p>
                {{ form.email.label }}
                {{ form.email() }}
            </p>

            <p>
                {{ form.submit }}
            </p>

        </form>
    </div>
</aside>


{% include 'footer.html' %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ url_for('static', filename='scripts/homepage.js') }}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const imagePath = "{{ url_for('static', filename='images/') }}";
        initSlideshow(imagePath);
    });
</script>