{% include 'header.html' %}

<!-- Sign-Up Form HTML -->

<head>
    <title>Own My Home | Sign Up</title>
    <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', filename='styles/sign_up.css') }}"
    />

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>
<section>
    <div class="homepage">
        <h1>Welcome To Own My Home</h1>
        <p>Find your dream property with us</p>
    </div>
    <div class="slideshow">
    </div>
</section>

<aside id="signup">
    <div id="sign-up-form">

        <h1 id="title">Sign Up</h1>
        <h5>Create a free account!<br>Already have one? <a href="{{ url_for('login') }}">Login</a></h5>

        <!-- Sign Up for success/error message using flash messages-->
        <!-- Email already exists in the database error-->
        {% for category, message in get_flashed_messages(with_categories=true) %}
            <pre class="{{ category }}">{{ message }} or return to <br>the <a href="{{ url_for('login') }}">login page.</a></pre>
        {% endfor %}

        <!-- Error Message for First Name field -->
        {% if form.first_name.errors %}
            {% for error in form.first_name.errors %}
                <pre class="error">{{ error }}</pre>
            {% endfor %}
        {% endif %}

    <!-- Error Message for Last Name field -->
        {% if form.last_name.errors %}
            {% for error in form.last_name.errors %}
                <pre class="error">{{ error }}</pre>
            {% endfor %}
        {% endif %}

    <!-- Error Message for Email field -->
        {% if form.email.errors %}
            {% for error in form.email.errors %}
                <pre class="error">{{ error }}</pre>
            {% endfor %}
        {% endif %}

    <!-- Error Message for Confirm Email field -->
        {% if form.confirm_email.errors %}
            {% for error in form.confirm_email.errors %}
                <pre class="error">{{ error }}</pre>
            {% endfor %}
        {% endif %}

    <!-- Error Message for Password field -->
        {% if form.password_hash.errors %}
            {% for error in form.password_hash.errors %}
                <pre class="error">{{ error }}</pre>
            {% endfor %}
        {% endif %}

    <!-- Error Message for Confirm Password field -->
        {% if form.confirm_password_hash.errors %}
            {% for error in form.confirm_password_hash.errors %}
                <pre class="error">{{ error }}</pre>
            {% endfor %}

        {% endif %}

    <!-- Error Message for Confirm Password field -->
        {% if form.accept_tos.errors %}
            {% for error in form.accept_tos.errors %}
                <pre class="error">{{ error }}</pre>
            {% endfor %}

        {% endif %}

        <form method="POST">
            {{ form.hidden_tag() }}  <!-- creates CSRF token -->

            <p>
                {{ form.first_name(class='signup-input-field') }}
            </p>

            <p>
                {{ form.last_name(class='signup-input-field') }}
            </p>

            <p>
                {{ form.email(class='signup-input-field') }}
            </p>

            <p>
                {{ form.confirm_email(class='signup-input-field') }}
            </p>

            <p class="pw-container">
                {{ form.password_hash(class='signup-input-field', id='pw1') }}
                <i class='fa-solid fa-eye eye-icon' id='eye1'></i>
            </p>

            <p class="pw-container">
                {{ form.confirm_password_hash(class='signup-input-field', id='confirm-password-field') }}
                <i class='fa-solid fa-eye eye-icon' id='eye2'></i>
            </p>

            <p>
                {{ form.accept_tos.label (class='signup-input-field', id='tos-label') }} <br>
                {{ form.accept_tos(class='signup-input-field', id='tos-checkbox') }}
            </p>

            <p>
                {{ form.create_account(class='create-account-field') }}
            </p>

        </form>
    </div>
</aside>

{% include 'footer.html' %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ url_for('static', filename='scripts/homepage.js') }}"></script>

<!-- Javascript for implement show password feature with eye icon on Change Password page -->
<script>
    const passwordInput = document.querySelector("#pw1");
    const confirmPasswordInput = document.querySelector("#confirm-password-field");
    const eye1 = document.querySelector("#eye1");
    const eye2 = document.querySelector("#eye2");

    eye1.addEventListener("click", function(){
        this.classList.toggle("fa-eye-slash");
        const type1 = passwordInput.getAttribute("type") === "password" ? "text" : "password";
        passwordInput.setAttribute("type", type1);
        })
    eye2.addEventListener("click", function () {
        this.classList.toggle("fa-eye-slash");
        const type2 = confirmPasswordInput.getAttribute("type") === "password" ? "text" : "password";
        confirmPasswordInput.setAttribute("type", type2);
    })

    document.addEventListener("DOMContentLoaded", function () {
        const imagePath = "{{ url_for('static', filename='images/') }}";
        initSlideshow(imagePath);
    });
</script>
